
.visible {
    display: block;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: palevioletred;
}

.aside-wrapper {
    width: 40vw;
    margin: 0 auto;
    height: 50vw;
    display: grid;
    align-items: center;
}   

#close {
    position: absolute;
    right: 100px;
    top: 35px;
}